* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Staatliches', cursive;
    background-color: white;
}

nav {
    background-color: #FFC600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav a {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin: 1.2rem;
}

nav a:hover {
    color: white;
}

.hero-image{
    background-image: url(./resources/aspen_trees.JPG);
    background-color: #cccccc;
    height: 530px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.profile-image {
    max-width: 280px;
    border-radius: 999px;
    border: .2rem solid #FFC600 ;
    margin-top: 10%;
    margin-bottom: 6%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
    text-align: center;
}

.about-content h1 {
    padding: 1rem;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-content p {
    padding-bottom: 1rem;
    font-size: 20px;
    word-spacing: 1.9px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

.flex-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

.work a {
    text-decoration: none;
    font-size: 26px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.work a:hover {
    color: #FFC600;
}

#first-image {
    background-image: url(./resources/black_canyon.JPG);
    background-color: #cccccc;
    width: 700px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .2rem solid #FFC600 ;
    margin: 3.5rem 1rem 1rem 1rem;
    text-align: center;
}

.image-styles {
    background-color: #cccccc;
    width: 500px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: .2rem solid #FFC600 ;
    margin: 1rem;
    text-align: center;
}

#second-image {
    background-image: url(./resources/aspens_in_valley.JPG);
}

#third-image {
    background-image: url(./resources/treetops.JPG);
}

#forth-image {
    background-image: url(./resources/sanddunes.JPG);
}

#fifth-image {
    background-image: url(./resources/outwest.JPG);
}

.contact {
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    font-family: 'Staatliches', cursive;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    color: black;
    text-shadow: -1px -1px 0 #FFC600, 1px -1px 0 #FFC600, -1px 1px 0 #FFC600, 1px 1px 0 #FFC600;
}

.contact ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.contact li {
    margin: 2.3rem;
    font-size: 1.6rem;
}

.contact a {
    color: black;
    text-shadow: -1px -1px 0 #FFC600, 1px -1px 0 #FFC600, -1px 1px 0 #FFC600, 1px 1px 0 #FFC600;
    text-decoration: none;
}

.contact a:hover {
    color: white;
}

footer {
    background-color: #FFC600;
    text-align: center;
    padding: 1rem 0;
}
